* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    overflow: auto;
}

body {
    background-color: #FDF3D6;
    font-family: "Montserrat", sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
}

nav .logo {
    float: left;
    margin: 0px 15px;
    color: #22AA54;
    line-height: 70px;
    transition: transform 0.3s ease-in-out;
}

nav .logo:hover {
    color: #ffff;
}

.logout-button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    float: inline-end;
    background-color: rgb(196, 0, 0);
    margin: 18px 20px;
    color: black;
    cursor: pointer;
    border: #ff0000;
    border-radius: 15px;
    transition: transform 0.3s;
}

.logout-button:hover {
    color: #ffff;
    background-color: #ff0000;
}

.trash {
    width: 100px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin: -54px 80px;
    color: white;
    cursor: pointer;
    border: #ff0000;
    transition: transform 0.3s;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 80px;
    width: 200px;
    height: 100vh;
    background-color: #0A2C16;
    color: white;
    padding: 20px;
}

.sidebar h3 {
    font-size: 25px;
    color: #ffff;
    text-shadow: none;
}
.sidebar h3:hover{
    color: #FF9F00;
    text-shadow: 0px 0px 9px #FF9F00;
    transition: color .3s, text-shadow .3s;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 25px;
    font-size: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

hr {
    color: black;
    font-weight: 2px;
}


.top {
    margin-left: 300px;
    margin-right: 40px;
}

.content-box {
    margin-top: 50px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: space-between;
}

.round-box {
    width: 190px;
    height: 70px;
    border-radius: 20px 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    background-color: #CFD1F4;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 70px;
}

li.active a {
    color: #ffff;
    /* Example active link color */
    font-weight: bold;
}

a.active,
a:hover {
    color: #FF9F00;
    text-shadow: 0px 0px 9px #FF9F00;
    transition: color .3s, text-shadow .3s;
}

table,
th,
td {
    font-size: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

td {
    line-height: 20px;
}

.hidden-input {
    display: none;
}

#user {
    padding-top: 5px;
}

.edit-input,
.edit-submit {
    display: none;
    margin-right: -80px;
}

.view-text {
    display: inline;
}

textarea {
    width: 97%;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 90px;
    padding-left: 310px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* Semi-transparent background */
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #35503F;
    color: #FDF3D6;
    padding: 20px;
    border-radius: 5px;
    max-width: 70%;
    max-height: 90%;
    overflow: auto;
}

.close {
    cursor: pointer;
    font-size: 24px;
    float: right;
}

.modal-content input[type="text"],
.modal-content input[type="time"],
.modal-content input[type="date"],
.modal-content input[type="file"],
.modal-content input[type="password"],
.modal-content select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-content input[type="number"] {
    width: 30%;
    padding: 10px;
    margin: 5px 1% 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.modal-content input[type="submit"],
.modal-content button[type="submit"] {
    background-color: #FF9F00;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.modal-content input[type="submit"]:hover {
    background-color: #0A2C16;
}

.img-box {
    border-radius: 20px 20px;
    margin: 30px auto;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.img-box:hover {
    border-radius: 20px 20px;
    background-color: #6a6f4c;
    box-shadow: 0 0 40px rgb(106, 111, 76);
    transform: scale(1.05);
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.img-wrapper img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.img-box:hover .img-wrapper img {
    transform: scale(1.05);
}

.img-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 20px;
    z-index: 3;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#crvs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.add-user-btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0A2C16;
    /* Bootstrap primary color */
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-user-btn:hover {
    background-color: #FF9F00;
    /* Darker shade for hover */
}


.centered-table {
    padding: 10px;
    width: 100%;
}
.pagination-btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0A2C16;
    /* Bootstrap primary color */
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination-btn:hover {
    background-color: #FF9F00;
    /* Darker shade for hover */
}


.pagination-container {
    text-align: right;
}